.date {
    text-align: center;
}

.container {
    margin: 50px 50px;
    width: 90vw;
    /* background-color: aqua; */
}

.card {
    margin: 0 5px !important;
}

.infected {
    border-bottom: 7px solid rgba(0, 0, 255, 0.7);
}

.recovered {
    border-bottom: 7px solid rgba(0, 255, 0, 0.7);
}

.deaths {
    border-bottom: 7px solid rgba(255, 0, 0, 0.9);
}

@media (max-width:770px) {
    .card {
        margin: 2% 0 !important;
    }
}